:root {
  --pastel-violet: #e7c6ff;
  --violet: #7b2cbf;
  --violet-hover: #9d4edd;
  --violet-darker: #240046;
  --grey: #f5f1ed;
}

body {
  background-color: var(--grey);
  color: black;
}

section {
  margin: 2rem 3rem;
}

.main_container {
  text-align: center;
}

.navbar {
  background-color: var(--pastel-violet);
  padding: 1rem;
}

.navbar-text{
    color: black;
}

.btn-outline-danger,
.addEventBtn,
.btn-primary {
  background-color: var(--violet);
  border: var(--violet);
  color: white;
}

.btn-outline-danger:hover,
.addEventBtn:hover, .btn-primary:hover {
  background-color: var(--violet-hover);
  border: var(--violet-hover);
}

.btn-danger, .btn-secondary {
  background-color: var(--violet-darker);
  border: var(--violet-darker);
}

.btn-danger:hover, .btn-secondary:hover {
  background-color: var(--violet-hover);
  border: var(--violet-hover);
}
