:root {
  --pastel-violet: #e7c6ff;
  --violet: #7b2cbf;
  --violet-hover: #9d4edd;
  --violet-darker: #240046;
  --grey: #f5f1ed;
  --grey-darker: #eae0d5;
}

body {
  background-color: var(--grey);
  color: black;
}

section {
  margin: 2rem 3rem;
}

form{
  background-color: var(--grey-darker);
  padding: 4rem;
  border-radius: 10px;
}

.main_container {
  text-align: center;
}

.navbar {
  background-color: var(--pastel-violet);
  padding: 1.5rem;
}

.navbar-text{
    color: black;
}

.btn-outline-danger,
.addEventBtn,
.btn-primary,
.btn-outline-primary {
  background-color: var(--violet);
  border: var(--violet);
  color: white;
}

.btn-outline-danger:hover,
.addEventBtn:hover, .btn-primary:hover,
.btn-outline-primary:hover {
  background-color: var(--violet-hover);
  border: var(--violet-hover);
}

.btn-danger, .btn-secondary, .btn-outline-secondary {
  background-color: var(--violet-darker);
  border: var(--violet-darker);
  color: white;
}

.btn-danger:hover, .btn-secondary:hover, .btn-outline-secondary:hover {
  background-color: var(--violet-hover);
  border: var(--violet-hover);
}

.link{
  margin: 1rem;
  color: var(--violet-darker);
}


